{% extends 'base.html.twig' %}

  {% block menu %}
      <li> <a href={{ path('home')}}><i class="fa fa-home"></i> <strong>Home</strong> </a></li>
      <li><a href={{ path('service')}}><strong>Services</strong></a></li>
      <li class="active"> <a href={{ path('news')}}><i class="fa fa-about"></i><strong>News</strong></a> </li>
      <li><a href={{ path('about')}}>  <i class="fa fa-about"></i><strong> About</strong></a> </li>
      <li> <a href={{ path('faq')}}> <i class="fa fa-about"></i><strong> FAQ</strong> </a>  </li>
      <li> <a href={{ path('contact')}}> <i class="fa fa-contact"></i><strong> Contact Us</strong></a> </li>
  {% endblock %}

{% block badge %}
    <div><img src="{{ asset('images/banners/Newsbrows.jpg') }}" width="100%" height="200px"/> </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-11 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 panel panel-default">
        <div class="col-lg-7">
            <div class="clearfix"></div>
            <div class="bg-warning">
                {% if newsResorces is defined %}


                <h2 class="page-header">{{  newsResorces.title  }}</h2>
                    {% if newsResorces.file %}
                    <img src="{{ asset('uploads/images/news/'~ newsResorces.file) }}"  height="40%" width="60%"/>
                    {% endif %}
                 <p>
                    {{  newsResorces.article | nl2br }}
                 </p>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-info">
            {% if rescentNews is defined %}
                <h2> Recent News</h2>
                {% for news in rescentNews %}
                    <a href="/news/{{ news.id }}"> <p><strong>{{ news.title  }}</strong></p> </a>
                    <p>{{ news.publishDate |date }} |</p>
                    <hr />
                {%  endfor %}

            {% endif %}
                {% if mostRead is defined %}
                    <h2>Most Read News</h2>
                    {% for news in mostRead %}
                        <a href="/news/{{ news.id }}"> <p><strong>{{ news.title  }}</strong></p> </a>
                        <p>{{ news.publishDate |date }} |</p><hr />
                    {%  endfor %}

                {% endif %}
            </div>
        </div>
        </div>
    </div>
 {% endblock %}














