{% extends 'admin/base.html.twig' %}
    {% block page %}



        <div class="col-sm-6 col-md-8 col-lg-8">
            <div class="jumbotron">


                  <div class="thumbnail">
                      {% if form is defined %}
                           <h3 class="h1">Manage questions </h3>
                          {{ include('admin/_form.html.twig') }}
                      {% endif %}

                      {% if question is defined %}
                            <h3>Unanswered Questions </h3>
                      <table class="table table-responsive table-hover">
                          <tbody>
                          {% for news in question %}
                              <tr> <td> <a href="faq/answer/{{ news.id }}"> {{ news.question |capitalize }}  </a></td> </tr>
                          {%  endfor %}
                          </tbody>
                      </table>
                      {% endif %}
                  </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-4">
            {% block sideBarRight %}
                 <div class="jumbotron">

                    {% if rescentNews is defined %}
                        <table class="table  table-hover">
                            <tbody>
                            {% for news in rescentNews %}
                                <tr> <td> <a href="/admin/news/edit/{{ news.id }}"> {{ news.title |capitalize }} </a></td> </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                 </div>

            {% endblock %}
        </div>
    {% endblock %} 

 
  

    
